@import 'tailwindcss';

@font-face {
	font-family: 'Stempel Garamond';
	src: url('/StempelGaramondLTStd-Roman.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Stempel Garamond';
	src: url('/StempelGaramondLTStd-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@theme {
	--text-xs: 1.2rem;
	--text-xs--line-height: 1.25;
	--text-sm: 1.3rem;
	--text-sm--line-height: 1.25;
	--text-sm-plus: 1.6rem;
	--text-sm-plus--line-height: 1.25;
	--text-base: 1.8rem;
	--text-base--line-height: 1.25;

	--color-black: #000000;
	--color-white: #ffffff;
	--color-red: #e10000;
	--color-orange: #ff5102;
	--color-yellow: #ebd400;
	--color-green: #00a00a;
	--color-blue: #020ab7;
	--color-purple: #aa00aa;
	--color-grey-1: #f5f5f5;

	--spacing-xs: 0.75rem;
	--spacing-sm: 1.25rem;
	--spacing-sm-mid: 1.4rem;
	--spacing-sm-plus: 1.6rem;
	--spacing-base: 2.5rem;
	--spacing-base-mid: 2.8rem;
	--spacing-md-minus: 3rem; /* Just a tiny bit less than md for optics */
	--spacing-md: 3.2rem;
	--spacing-lg-minus: 4.4rem; /* Just a tiny bit less than lg for optics */
	--spacing-lg: 5rem;
	--spacing-lg-mid: 5.6rem;
	--spacing-xl-minus: 8.4rem;
	--spacing-xl: 10rem;
	--spacing-xxl: 15rem;--
	--spacing-xxxl: 20rem;
	--spacing-rich-text: 1em;
	--spacing-line-break: 1.25em;
	--spacing-def-max: 576px;
	--spacing-mobile-push: 9.6rem;

	--font-primary: 'Stempel Garamond', serif;
}

/*
Utils
*/

@utility fill-parent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

@utility small-caps {
	font-variant: small-caps;
}

html {
	font-size: 10px;
	color: var(--color-black);
	background: var(--color-white);
	font-variant-numeric: oldstyle-nums;
	overscroll-behavior-y: none;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: var(--text-base);
	font-family: var(--font-primary);
	font-weight: 400;
	line-height: var(--text-base--line-height);
	overscroll-behavior-y: none;

	@media (min-width: 1024px) {
		font-size: var(--text-base);
	}

	#nprogress .bar {
		height: 1px;
		background-color: var(--color-blue);

		@media (min-width: 1024px) {
			height: 2px;
		}
	}
}

main {
	min-height: calc(100svh - 245px);
}

input {
	outline: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
}

button {
	cursor: pointer;
}

.rich-text {
	& > p + p {
		margin-top: var(--spacing-line-break);
	}

	&:not(.links-fade) {
		a {
			/* @media (min-width: 1024px) {
				&:hover {
					color: var(--color-blue);
				}
			} */

			&:hover {
				color: var(--color-blue);
			}
		}
	}

	&.links-fade {
		a {
			transition: opacity 0.3s;

			/* @media (min-width: 1024px) {
				&:hover {
					opacity: 0.5;
				}
			} */

			&:hover {
				opacity: 0.5;
			}
		}
	}
}

/*
Lazy Load
*/

img[data-src]:not(.lazyloaded),
img[data-srcset]:not(.lazyloaded) {
	opacity: 0;
}

img[data-src].lazyloaded,
img[data-srcset].lazyloaded {
	opacity: 1;
	transition: opacity 0.4s;
}
